.backgroundImage {
  width: 100vw;
  height: 318px;
  object-fit: cover;
}
.event-page{
  background-color: white;
}

.event-section {
  display: flex;
  flex-direction: row;
  height: 279px;
  background: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}
.event-details {
  margin-left: 70px;
  text-align: left;
}

.event-title {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 700;
}

.purchase-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 30%;
  align-items: top;
}

.event-price-eth {
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: bold;
}

.money-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.button-section {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
}

.purchase {
  background-color: #6F65E9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  margin-right: 71px;
  cursor: pointer;
  border: none;
}

.purchase:hover {
  background-color: #6b61db;
}